* {
  box-sizing: border-box;
}

/* GENERAL STYLING */

body {
  color: #444349; /* color gray */
  font-family: 'Mulish', sans-serif;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
}

h1, .program, .qa {
  color: #d2ba87; /* color gold */
}

.tagline, .date, footer {
  color: #fff;
}

h1, h2 {
  font-size: 3rem;
  line-height: 4rem;
}

h3, .tagline, .date {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  /* font-size: 1.15rem; */
}

h3::first-letter {
  text-transform: uppercase;
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* HEADER STYLING */

.cover {
  background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  background-color: hsla(100,0%,0%,.6);
  border-radius: 4px;
  width: 100vw;
  padding: 1rem 0;
  letter-spacing: .15rem;
}

.tagline::after {
  content: "";
  display: block;
  width: 12.515625rem;
  height: 1px;
  background-color: #fff;
  margin: .5rem auto;
}

.date::before, .date::after {
  content: "\2015";
}

/* MAIN SECTIONS STYLING */

main {
  background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat, #e0e0e0; /* fallback color lightgray */
}

/* SECTION LOCATIONS STYLING */
  
.locations {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2rem;
}

.blurb {
  margin: 0 auto;
  text-align: center;
  /* line-height: 2rem; */
  /* font-size: 1.15rem; */
}


.blurb::after {
  content: "";
  display: block;
  width: 25vw;
  height: .1875rem;
  background-color: #444349;
  margin: 1.5rem auto;
}

.blurb img {
  width: 7.5rem;
  margin: 1rem 0;
}

/* SECTION PROGRAM STYLING */

.program {
  background: hsla(100,0%,0%,.6);
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.5rem 1rem;
}

.program p, .program ul {
  font-size: 1.1rem;
  line-height: 1.7rem;
} 

.program p {
  margin: 0 0 1.5rem 0;
}

q {
  font-style: italic;
}

/* SECTION GIFTS STYLING */

.gifts {
  padding: 1.5rem 1rem;
}

.gifts img {
  display: block;
  width: 7.5rem;
  margin: 2rem auto;
}

.gifts div, .gifts p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

/* SECTION QA STYLING */

.qa {
  background: hsla(100,0%,0%,.6);
  width: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1.5rem 1rem;
}

.qa-div p {
  line-height: 2rem;
  font-size: 1.15rem;
}

.qa-div p:nth-child(even) {
  font-weight: 600;
}

.qa-div p:nth-child(2n+1) {
  margin-bottom: 1.5rem;
}

.qa-div::after {
  content: "";
  display: block;
  width: 50vw;
  height: .1875rem;
  background-color: #d2ba87 ;
  margin: 1.5rem auto;
}

/* SECTION CONTACT STYLING */

.contact {
  padding: 1.5rem 1rem;
  text-align: center;
}

.contact p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.85rem;
}

/* FOOTER STYLING */

footer {
  background-color: #606060;
  width: 100%;
  height: 10vh;
  text-align: center;
  display: table;
}

footer p {
  display: table-cell;
  vertical-align: middle;
}

/* LINKS STYLING */

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
}

















